
<div class="container"  style="background-image: url(./assets/p20.jpg); height: 780px; overflow: none; background-position: center center; background-size: contain;">
    <div class="jumbotron text-center" style="background-color: transparent;">
      <h1>Mentor On Demand Automation</h1>
    </div>
      
    
    <!-- <div class="jumbotron"> -->
      <div class="container text-center">
             
        <form #a="ngForm" (ngSubmit)="search(a)">
          <input type="search" class="nav-search68" placeholder="Search.." name="SearchKeyword" [(ngModel)]="keyword19">
          
            <button type="submit"><i class="fas fa-search"></i></button>
          
        </form>
      </div>
    <!-- </div> -->
    


    <div class="container">
      <div class="row">
        <div class="col-sm-4">
            <!-- <form > -->
                <a routerLink="/userlogin"><input type="image" src="./assets/p1.png" alt="Submit" width="200" height="200">
                <h3>User</h3></a>
              <!-- </form> -->
          
        </div>
        <div class="col-sm-4">
            <!-- <form> -->
              <a routerLink="/mentorlogin"><input type="image" src="./assets/p2.png" alt="Submit" width="200" height="200">
                <h3>Mentor</h3></a>
              <!-- </form> -->
    
          
        </div>
        <div class="col-sm-4">
            <!-- <form> -->
              <a routerLink="/adminlogin"><input type="image" src="./assets/p3.png" alt="Submit" width="200" height="200">
                <h3>Admin</h3></a>
              <!-- </form> -->
            
          
        </div>
      </div>
    </div>
    </div>
