<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Mentor On Demand</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/adminwelcome">Home</a></li>
          <li><a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal18">Project</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="logout()" style="cursor: pointer"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
        <div class="container text-center">
          <h1>Welcome Admin!</h1>      
          
        </div>
      </div>
<div id="mySidenav" class="sidenav">
<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal16" id="about">Profile<i class="fas fa-id-card"></i></a>
<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal17" id="blog">Block User/Mentor<i class="fas fa-user-edit"></i></a>
<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" id="projects">Add/Edit Technology<i class="fas fa-microchip"></i></a>
<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4" id="contact">Change Course Fee<i class="fas fa-rupee-sign"></i></a>
</div>

<div class="hero-bkg-animated">

</div>
<!-- 1st Modal -->
<div class="modal fade" id="myModal4" role="dialog">
<div class="modal-dialog">


<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Course Fee</h4>
</div>
<div class="modal-body">
<form action="/adminwelcome.html">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
       <th>Id</th>
       <th>Course Name</th>
       <th>Course Duration</th>
       <th>Course Price</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of techs">
       <td>{{user.id}}</td>
       <td>{{user.techname}}</td>
       <td>{{user.duration}}</td>
       <td><form  [formGroup]="fees" (ngSubmit)="updateUser(user)">
       <input type="number" [value]="user.price" formControlName="price">
       <!-- <input type="text" value="user.price" formControlName="price"> -->
        <button class="btn btn-info btn-lg" type="submit"><i class="far fa-edit"></i></button>
      </form></td>
      </tr>
      </tbody>
</table> 
   <br><input type="submit" value="Submit" style="text-align: center">
 </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- 2nd modal -->
<div class="modal fade" id="myModal2" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Technology</h4>
</div>
<div class="modal-body">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
       <th>Id</th>
       <th>Course Name</th>
       <th>Course Duration</th>
       <th>Course Price</th>
        <th> Delete Technology </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of techs">
       <td>{{user.id}}</td>
       <td>{{user.techname}}</td>
       <td>{{user.duration}}</td>
       <td>{{user.price}}</td>
        <td style="align-content: center"><button  class="btn btn-info btn-lg"  (click)="deleteUser(user)"><i class="fas fa-trash-alt"></i></button></td>
      </tr>
      </tbody>
</table> 

<div class="container" style="width: 100%">
  <h1 style=" margin-left: 100px;"><strong>Add Technology</strong></h1>
  
  <hr>
  
  
  <label for="name"><b>Course Name</b></label>
  <div class="input-group">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-user"></i> 
     </span ><input type="text" [(ngModel)]="tech.techname" class="form-control" placeholder="Enter Course Name" name="techname" id="techname" required></div>



  <label for="duration"><b>Course Duration</b></label>
  <div class="input-group">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-user"></i> 
     </span><input type="text" [(ngModel)]="tech.duration" class="form-control" placeholder="Enter Course Duration" name="duration" id="duration" required></div>

  <label for="price"><b>Course Price</b></label>
  <div class="input-group">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-user"></i> 
     </span><input type="text" [(ngModel)]="tech.price" class="form-control" placeholder="Enter Course Price" name="price" id="price" required></div>


     <div class="add" style="width: 10%; text-align: center;">
      <button type="button" class="btn btn-info btn-lg"  (click)="createUser()">Add</button>
    </div>

</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<!-- 17th Modal -->
<div class="modal fade" id="myModal17" role="dialog">
  <div class="modal-dialog">
  
  
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Block User/Mentor</h4>
  </div>
  <div class="modal-body">
    <table class="table table-hover table-bordered" style="width:100%">
      <thead>
        <tr>
         <th>Id</th>
         <th>Username</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email Id</th>
         <th>Contact Number</th>
         <th>Linkedin Url</th>
          <th>Delete User/Mentor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of signup">
         <td>{{user.id}}</td>
         <td>{{user.username}}</td>
         <td>{{user.firstname}}</td>
         <td>{{user.lastname}}</td>
         <td>{{user.emailid}}</td>
         <td>{{user.contactnumber}}</td>
         <td>{{user.linkedinurl}}</td>
          <td style="align-content: center"><button class="btn btn-info btn-lg" (click)="deleteUser1(user)"><i class="fas fa-ban"></i></button></td>
        </tr>
        </tbody>
 </table>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
  <!-- 17th modal end-->


  <!-- 16th modal -->
<div class="modal fade" id="myModal16" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Admin Profile Card</h4>
  </div>
  <div class="modal-body">
    
    <div class="card">
        <img src="./assets/p13.png" alt="Sakshi" style="width:100%">
        <h1>Sakshi Agrawal</h1>
        <p class="title">Admin</p>
        <p>MentorOnDemand</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fab fa-dribbble"></i> </a> 
          <a href="#"><i class="fab fa-twitter"></i> </a>  
          <a href="#"><i class="fab fa-linkedin-in"> </i></a>  
          <a href="#"><i class="fab fa-facebook-f"></i></a> 
        </div>
        <p><button>Contact</button></p>
      </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
<!-- 16th modal end -->

 <!-- 18th modal -->
<div class="modal fade" id="myModal18" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Projects</h4>
  </div>
  <div class="modal-body">
    
    <p>No Projects!</p>


  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
<!-- 18th modal end -->
